name: Hello Discord

# Chạy mỗi 5 phút
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:  # cũng có thể chạy thủ công

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests

      - run: python main.py
